
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the University Library application for members</h2>
<br />
<span>This application allows our registered members to search for Books, place demands on any available book and also check the historical of demands.</span>

